.navbar{
    background-color: black;
}
.navbar-brand{
    font-size: 2rem;
    margin-left: 50px;
}
.nav-link{
    margin-left: 10px;
    margin-right: 10px;
}
.box1{
    border: 1px solid grey;
    
}
/* footer */
.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .footer-background{
    background-color: black;
  }